body {
    font-family: 'Lato', sans-serif;
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    margin: 0px;
    justify-content: center;
}

.container{
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

.events-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 66px;
}
.eventDetail a, .eventDetail a .card-content p{
    text-decoration: none;
}
/*CARD*/
.card{
    flex: 1 1 32%;
    margin: 5px;
    position: relative;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    -webkit-animation: 1.5s CardEntrada 1;
}
@-webkit-keyframes CardEntrada {
    0%{
        opacity: 0;
    }
    40% {
        -webkit-transform: scale(0.8);
        opacity: 0.5
    }
    60% {

        -webkit-transform: scale(1.);
    }
    100%{
        opacity: 1;
    }
}
.card .card-image{
    position: relative;
    cursor: pointer;
    box-shadow:0 20px 20px -12px #000;
    overflow: hidden
}

.card-content-top{
    display: flex;
    justify-content: space-between;
}
.card-content-top p{
    font-weight: bold;
}
.card-content-date{
    font-weight: bold;
}
.card-content-date-ini, .card-content-date-fin{
    align-self: flex-end;
    font-weight: bold;
}

.card .card-image img{
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    width: 100%;

    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;

}
.card .eventDetail:hover img{
    -webkit-transform:scale(1.3);transform:scale(1.3);
}
.card .eventDetail:hover {
    filter: saturate(180%);
}
.card .eventDetail, .usuarios .card .usuarioDetail{
    position: relative;
    transition: 1s all ;
    width: 100%;
}
.card-content p.fecha-hora {
    margin: 5px 0px;
    font-weight: bold;
    text-align: right;
}
.card .card-content{
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.card .card-content .card-title{
    display: block;
    margin-bottom: 8px;
}

.card .card-title.activator{
    cursor: pointer;
}

.card .card-title {
    font-size: 24px;
    font-weight: 300;
}
.text-dark, .card .card-content p{
    color: #212121;
}


.card .card-action{
    position: relative;
    border-top: 1px solid rgba(160,160,160,0.2);
    padding: 16px 25px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-self: flex-end
}

.fa{
    font-size: 1.8em !important;
}

.card-action .price{
    display: flex;
}

.card-action .price .fa-money{
    opacity: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    rotation: 45deg;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    font-size: 1.2em !important;
}

.price p{
    margin: 0px;
}
.price p:not(.euro){
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 10px;
}

p.euro{
    padding-bottom: 9px;
    font-weight: bold;
}
/*****************************************************/
/*BARRA SUPERIOR*/
.btn.btn-filter{
    padding: 0px;
    letter-spacing: 2px;
    font-size: 15px;
    color: white;
    text-transform: none;
    width: 100%;
    text-align: center;
}

.btn.btn-filter p{
    font-family: FontAwesome;
    margin: 0px;
}

.btn.btn-filter::before{
    content: none;
}
.div-filter{
    margin-left: 10px;
    width: 130px;
}
/*#form-filtrar{
    display: none;
    flex-direction: column;
    position: absolute;
    align-items: flex-end;
    background-color: #66a5d1
}
#form-filtrar .date{
    display: flex;
    flex-direction: column;
}
#form-filtrar .date .radio-buttons{
    display: flex;
}

.form-filter{
    position: relative;
    width: 130px;
}
#form-filtrar input{
    margin: 0px;
    width: 90%;
}
.form-filter a:hover ~ #form-filtrar,#form-filtrar:hover{
    display: flex;
}*/


.menu-big{
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-basis: 220px;
    flex-grow: 0.2;
    justify-content: flex-end;
    flex: 1;
}
.perfil a, .bar-down a{
    text-decoration: none;
    color: black;
}

.btn-login-register {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.menu-big a {
    position: relative;

    text-decoration: none;
    color: white;
    padding-bottom: 5px;
    font-size: 18px;
    margin-left: 20px;
    transition: all 0.5s;
}
.menu-big a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255,255,255,0.5);
    -webkit-transform: scale(0.1, 1);
    transform: scale(0.1, 1);
}
.menu-big a:hover::before{
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.bar-btns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bar-btn-register{
    margin-left: 10px;
}

.bar-btns a{
    padding: 6px 20px;
    text-decoration: none;
    color: white;
}
.bar-btns a::after{
    background-color: rgba(255, 251, 251, 0.25);
}

.bar-btns .fa{
    padding-left: 10px;
    font-size: 1.4em !important;
}

/*.btn-floating{
    display: absolute;
}*/

.back-panel{
    position: fixed;
    top: 0px;
    height: 64px;
    left: 0px;
    width: 100%;
    background-color: #66a5d1;
    z-index: 106;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px, rgba(0, 0, 0, 0.2) 0px 2px 4px -1px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

i.fa.fa-search {
    margin-left: 40px;
}

.bar-top{
    top: 0px;
    height: 64px;
    width: 94%;
    background-color: #66a5d1;
    z-index: 6;
}

.bar-top-nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.bar-top-nav  input{
    flex: 1;
    font-size: 1em;
    border: 0px;
    margin-left: 8px;
    padding: 8px 0px;
    outline: none;
    background-color: #66a5d1;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: FontAwesome;
}


.bar-top-nav img{
    width: 40px;
    height: 40px;
}

.bar-top-nav .perfil.selected{
    border-bottom: solid 3px #f4f0efd0;
    align-self: stretch;
    align-items: center;

}
.bar-down .selected{
    border-bottom: solid 3px #f4f0efd0;
    align-self: stretch;
    align-items: center;
    display: flex;
}

.bar-top .menu-big .selected, .bar-top-nav .selected.inicio{
    display: flex;
    align-self: stretch;
    border-bottom: solid 3px #f4f0efd0;
    align-items: center;
}
.perfil.selected a{
    color:#ffffff
}

.bar-top-nav .fa{
    font-size: 1.5em !important;
}
/*************************/
/*BARRA INFERIOR*/
.bar-down{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bar-down .fa{
    font-size: 1.5em !important;
}
.bar-down .selected{
    color:#ffffff
}

.menu-panel{
    display: none;
    position: fixed;
    bottom: 0px;
    height: 64px;
    left: 0px;
    width: 100%;
    background-color: #66a5d1;
    z-index: 106;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.14) 0px -4px 5px 0px, rgba(0, 0, 0, 0.12) 0px -1px 10px 0px, rgba(0, 0, 0, 0.2) 0px -2px 4px -1px;
}

.menu-inputs{
    background-color: #66a5d1
}

.menu-inputs .bar-top-nav  .fa-cart-plus{
    font-size: 2em !important;
}


/*SELECTED BARS*/



/*PROFILE*/
.name{
    font-weight: bold;
    letter-spacing: 0.2em;
    font-size: 20px;
}

.settings-container{
    margin-top: 58px;
    display: flex;
    padding: 15px;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.section-avatar{

    display: flex;
    flex-direction: row;
    padding: 13px 0px;
    justify-content: center;
}

.section-avatar .fa-pencil{
    align-self: flex-end;
    font-size: 1.5em !important;
    position: absolute;
    padding-left: 130px;
    opacity: 0.5;
    text-decoration: none;
}

.avatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.bar{
    font-size: 18px;
    margin-top: 25px;
}

.title{
    font-size: 16px;
    font-weight: bold;
    opacity: 0.5;
    letter-spacing: 0.1em;
    margin-bottom: 24px;
}

.to-modify{
    font-size: 16px;
    opacity: 0.5;
    font-weight: bold;
    line-height: 0px
}
.name-modify{
    border-bottom: solid 1px rgb(212, 209, 209);
}
.name-modify p{
    text-align: center;
    letter-spacing: 2px;
    line-height: 1px;
}

/*----------------------REGISTER-*/
#registroLogear{
    cursor: pointer;
    color: blue;
}
.registrarse{
    margin:10px 0px;
    display: flex;
    justify-content: space-evenly;
}

.registrarse a{
    text-decoration: none;
    color: #3d52ee;
}
.inputs-container{
    margin-top: 58px;
    display: flex;
    padding: 15px 0px;
    flex-direction: column;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    align-items: center;
}
.inputs-container .register{
    display: flex;
    flex-direction: column;
}
.register input:required{
    outline: solid 1px red;
    outline-offset: 1px;
}
.register input:focus:invalid{
    /* border: red solid 3px;  */
    outline: solid 2px red;
    outline-offset: 2px;
}
.register input:valid{
    outline: solid 2px #66a5d1;
    outline-offset: 2px;
}
#form-filtrar input{
    width: auto;
}
#form-filtrar .date input{
    outline: none;
    outline-offset: 0px;
}
.inputs-container .register input,.inputs-container .login input, .inputs-container #newEvent input{
    width: 90%;
    border: none;
    border-bottom: 1px solid #e6ecf0;
    margin-bottom: 30px;
    font-size: 18px;
    padding: 12px;
}

.name-register{
    flex-basis: 60%;
}
/* LOGIN*/
.inputs-container .login {
    display: flex;
    flex-direction: column;
}
.login input:required{
    outline: solid 1px red;
    outline-offset: 1px;
}
.login input:focus:invalid{
    /* border: red solid 3px;  */
    outline: solid 2px red;
    outline-offset: 2px;
}
.login input:valid{
    outline: solid 2px #66a5d1;
    outline-offset: 2px;
}
#loginModal .title, #registroModal .title, #filterModal .title{
    align-self: stretch;
    display: flex;
    justify-content: space-around;
}
#closeLogin, #closeFilter, #closeRegister{
    cursor: pointer;
}

/*COMPONENTS*/
/*MENU*/
.perfil{
    display: none
}

/*MEJORAR BOTONES*/
.btn{
    display: inline-block;
    position: relative;
    letter-spacing: 2px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 18px;
    color: #66a5d1;
    padding: 12px 0px;
    border-radius: 5px;
    /* box-shadow: 3px 3px 2px 2px rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2); */
    /* transition: 0.2s ease-in-out color; */
    transition: all 0.5s;
    cursor: pointer;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 96%;
    z-index: 1;
    border: 1px solid #353535;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: rgba(180, 180, 180, 0.25);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: scale(0.5,0.5);
    transform: scale(0.5,0.5);
}

.btn:focus{
    outline:0;
}
.btn:hover::after {
    opacity: 1;
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
}
.btn:hover:before {
    opacity: 0;
    -webkit-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
}

.button:hover, .btn:hover, .menu-big a:hover {
    color: rgb(0, 0, 0);
}



.btn:disabled,
.btn[disabled]{
    box-shadow: none;
    background-color: rgb(214, 213, 213);
    color: black ;
    opacity: 0.5;
}
/*----------MODALS*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    justify-content: center;
}

.modal-content {
    align-self: center;
    flex-basis: 400px;
    padding: 20px;
}
/*+++++++++++++NEW-EVENT*/
.new-event-container{
    margin-top: 58px;
    display: flex;
    padding: 8px 0px;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    align-items: center;
}
.inputs-container.new-event{
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px;
    box-shadow: none;
    width: 50%;
}
.card.edit{
}
#newEvent{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    overflow: hidden;
}
#newEvent .btn{
    margin-top: 20px;
    width: 90%;
}

#newEvent textarea{
    width: 90%;
    margin-bottom: 30px;
}
.btn-upload-image{
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
input[type='file']{
    display: none;
}
textarea{
    resize: none;
}
/*+++++++++++++++++++++++EVENT-DETAILS--------------*/
.card.edit.detail{
    margin: 0px;
    margin-top: 58px;
    display: flex;
    background-size:100%;
    flex-direction: column;
    align-items: stretch;
    background-repeat:no-repeat;
    -webkit-transition: background-image 1s linear;

}
.card-conditions {
    margin: 10px;

}
.card-conditions h1{
    text-align: center;
}
.card-conditions p {
    line-height: 1.5em;
}

.card.edit.detail::after {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.23);
}

.card.edit.detail .card-content, .card.edit.detail .card-action{
    background-color: white;
    z-index: 4;
}

.card.edit.detail .card-content{
    width: 90%;
    align-self: center;
    margin: 290px 5px 0px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.card.edit.detail .card-action{
    margin: 0px 5px;
    height: 60px;
    padding: 0px;
    justify-content: space-around;
    align-items: stretch;
    box-shadow: 1px -3px 12px 0px rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.btns-eventDetail{
    flex-basis: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btns-eventDetail.messa-buy{
    justify-content: space-evenly;
}
a.btn.btn-buy {
    width: 40%;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
/*DIV ERROR*/
.error {
    position: fixed;
    z-index: 200;
    top: 80px;
    left: 0px;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: indianred;
    color: white;
    height: 40px;
    align-items: center;
    opacity: 0;
    animation: desvanecerErrror 4s ease;
}
@keyframes desvanecerErrror {
    from{opacity: 1;}
    50%{opacity: 0.8}
    to{}
}
/************FOOTER*/

footer {
    height: 64px;
    width: 100%;
    display: flex;
    background-color: #66a5d1;
    justify-content: space-around;
    z-index: 5;
    margin-top: 5px;
    align-items: center;
    align-self: flex-end;
}
footer p{
    margin: 0px
}
/*FORMULARIO LABEL*/

#newEvent label:not(.btn-upload-image){
    color:#999;
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}
.group-field p{
    font-size: 17px;
    margin: 0px;
    font-weight: bold;
}
select{
    margin-bottom: 20px;
    letter-spacing: 1px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    padding: 8px 0px;
    border-radius: 5px;
}

#newEvent input:focus ~ label, #newEvent input:valid ~ label {
    top:-20px;
    font-size:14px;
    color:rgb(35, 36, 39);
    font-weight: bold;
}

.inputs-container .login{
    position: relative
}
.group-field{
    position: relative;
    width: 90%;
}
#newEvent input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}
@-webkit-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
#newEvent .group-field:first-child input{
    margin-top: 30px;
}
#newEvent .group-field:first-child label{
    top: 40px;
}
#newEvent .group-field:first-child input:focus ~ label, #newEvent .group-field:first-child input:valid ~ label {
    top:8px;
}

#formLogin input:focus {
    outline:none;
}
/*MY TICKETS*/

.tickets-container{
    display: flex;
    margin-top: 65px;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
}
.ticket{
    position: relative;
    width: 460px;
    height: 140px;
    background: #adddff;
    margin: 5px 5px;
    display: flex;
    justify-content: space-between;
    border-radius: 30px 0px 0px 33px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    -webkit-animation: 1.5s ticketEntrada 1;
    transition: 0.5s all;
}
.ticket:hover, .ticket:focus{
    -webkit-transform: scale(1.1);
    z-index: 101;
}
@-webkit-keyframes ticketEntrada {
    0%{
        opacity: 0;
    }
    40% {
        -webkit-transform: scale(0.8);
        opacity: 0.5
    }
    60% {

        -webkit-transform: scale(1.);
    }
    100%{
        opacity: 1;
    }
}
.imageTicket{
    display: flex;
    align-items: center;

}
.imageTicket img{
    z-index: 101;
    height: 115px;
    box-shadow:0 20px 20px -12px #000;
}

/*texto Ticket*/
.ticket .contentTicket{
    margin-left: 5px;
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    /* animation: aparecerContentTicket 3s ease-out 1; */
}

.group p{
    margin: 0px;
}
.group {
    display: flex;
    justify-content: space-around;
}
.ticket .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
    font-size: 0.9em;
    margin-left: 20px;
    letter-spacing: 3px;
}

.ticket .mid{
    border-left: dotted 8px;
    margin: -2px 9px -4px 10px;
    border-color: #ffffff;
    box-shadow:0 20px 20px -12px #000;
}

.ticket .card-ticket {
    font-size: 1.3em;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.ticket .group p:not(.character){
    font-weight: bold;
    flex-grow: 1;
    margin-left: 10px;
}
/*ESQUINAS*/
.ticket::after{
    content: "";
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    border-right: #ffffff 23px solid;
    border-bottom: #ffffff 22px solid;
    -moz-border-radius: 0 0 20px 0;
    -webkit-border-radius: 0 0 20px 0;
    border-radius: 0 0 80px 0
}

.ticket .imageTicket::after{
    content: "";
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
    border-right: #ffffff 23px solid;
    border-top: #ffffff 22px solid;
    -moz-border-radius: 0 0 20px 0;
    -webkit-border-radius: 0 0 20px 0;
    border-radius: 0 80px 0 0;

}

/* .ticket::before{
    content: "";
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    border-left: #645853 23px solid;
    border-bottom: #645853 22px solid;
    -moz-border-radius: 0 0 20px 0;
    -webkit-border-radius: 0 0 20px 0;
    border-radius: 0 0 0 80px
} */

/* .ticket .imageTicket::before{
    content: "";
    position: absolute;
    z-index: 100;
    bottom: 0;
    right: 0;
    border-left: #645853 23px solid;
    border-top: #645853 22px solid;
    -moz-border-radius: 0 0 20px 0;
    -webkit-border-radius: 0 0 20px 0;
    border-radius: 80px 0 0 0
} */
/*Animaciones tickets*/

/*PAGOOOOOOS*/
.event-pay-container{
    margin-top: 50px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    padding: 24px;
    display: flex;
    flex-direction: column;
}
.event-pay-container .ticket{
    transform: rotate(-8deg);
}
.event-pay-container .content{
    margin: 20px 0px;
}
.event-pay-container > *{
    margin: 20px 0px;
}
.event-pay-container .title-pay{
    align-self: center;
    margin-top: 0px;
    font-size: 18px;
    font-weight: bold;
}
.event-pay-container button{
    padding: 6px 20px;
    align-self: flex-end;
}
.event-pay-container .precios p, .event-pay-container .pay-content p{
    margin: 9px 0px;
    font-weight: bold;
}
.event-pay-container .precios p:last-child{
    font-size: 20px;
}
.precios {
    display: flex;
}
.precios .numbers p{
    margin-left: 10px;
    font-weight: normal;
}
.event-pay-container .pay-content p{
    font-size: 20px;
}
.bot-pagos {
    display: flex;
    justify-content: space-between;
}
.body-pay{
    display: flex;
    justify-content: space-between;
}

/*USUARIOS*/

.usuarios{
    margin-top: 50px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
}

.usuarios .card-image img, .usuarios .card-image{
    width: 100px;
    height: 100px;
    align-self: center;
}

.usuarios .usuario-a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.usuarios .card-content{
    align-items: center;
}
.usuarios .card{
    flex: 1 1 32%;
}

.btn.eliminar , .modificar.btn {
    width: 40%;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
label[for=avatarUpdate]{
    margin-bottom: 6px;
}
.btns-usuarios{
    display: flex;
    justify-content: space-evenly;
}

.change-password, .logout{
 text-decoration: none;
}
.Modificar-avatar{
    display: flex;
    flex-direction: column;
}
.Modificar-avatar *{
    width: 300px;
}
@media screen and (max-width: 768px){
    .menu-big{
        flex-basis: auto
    }
    button.btn.btn-buy {
        width: auto;
        align-self: auto;
    }

}
@media screen and (max-width: 412px){
    .event-pay-container{
        padding: 14px;
    }
    .event-pay-container .ticket{
        transform: none;
        width: 100%;
    }
    .body-pay{
        flex-direction: column;
    }
    .bar-top-nav  img{
        padding-right: 10px;
        border-right: solid 2px grey;
    }
    i.fa.fa-search {
        margin-left: 6px;
    }
    .events-container{
        flex-direction: column;
        flex-basis: auto;
        flex-wrap: nowrap;
    }
    .settings-container{
        width: auto;
    }

    .name-register {
        flex-basis: 75%;
    }

    .menu-panel{
        display: flex;
    }
    .menu-inputs{
        position: fixed;
        bottom: 0px;
        height: 64px;
        width: 90%;
        z-index: 5;
    }

    .menu-big{
        display: none;
    }

    .modal-content{
        flex-basis: 100%
    }

    footer{
        z-index: 0;
    }

    .bar-btns{
        display: none;
    }
    .perfil{
        display: flex;
    }
    .card.edit.detail .card-content{
        width: 100%;
        margin: 204px 5px 0px;
    }
    .card-content-top , .new-event-container{
        flex-direction: column;
    }
    .inputs-container.new-event{
        width: 100%;
    }
    .ticket .contentTicket{
        align-items: flex-start;
    }
    .ticket .content {
        margin-left: 0px;
        letter-spacing: 2px;
    }
}